<!doctype html>
<html lang="en">
<head>

</head>
<body>
<h1> Welcome</h1>
<form action="http://127.0.0.1:8000/profile" method="post">
    <input type="url" name="url" placeholder="Add URL" id="url">
    <input type="submit" name="addurl" value="add">
</form>

{{#each y}}
    <form action="http://127.0.0.1:8000/profile" method="post">
        <h2>{{this}}</h2>
        <input type="hidden" name="titleforcrud" value="{{this}}">
        <input type="submit" name="remove" value="remove">
        <input type="submit" name="display" value="display">
    </form>

{{/each}}

<br/>
<a href="http://127.0.0.1:8000/addg.html">Add Group</a>
<br/>
<br/>
<h2>Edit Groups</h2>
{{#each g}}
    <a href="http://127.0.0.1:8000/addlinks/{{id}}">{{name}}</a>
    <br/>
{{/each}}


</body>
</html>